<h3>Mensajes!!!!!</h3>
<div class="m-auto mt-5">
  <div class="row justify-content-lg-center">
    <div class="col col-lg-6">
      <ul id="chat-mensajes">
        <li class="list-group-item" *ngFor="let msg of mensajes">
          {{ msg.de }} : {{ msg.cuerpo }}
        </li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col col-lg-6">
      <hr />
      <form action="" (ngSubmit)="enviar()">
        <input
          type="text"
          [(ngModel)]="texto"
          class="form-control"
          name="texto"
          placeholder="Mensaje...."
          autofocus
          autocomplete="off"
        />
      </form>
    </div>
  </div>
</div>
